---
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';
---

<Layout>
<section class="flex flex-col justify-center items-center mb-12">
    <div class="max-w-[1279px] w-full h-[527px] p-1">
	    <Image src="/imagenes/unless1.jpg" alt="Unless AI" width={1279} height={527} class="w-full h-full object-cover rounded-2xl shadow-2xl" />
    </div>
    <div class="flex flex-row"> 
        <div class="max-w-[455px] w-full h-[326px] p-1">
            <Image src="/imagenes/unless2.jpg" alt="Unless AI" width={455} height={326} class="w-full h-full object-cover rounded-2xl shadow-2xl" />
        </div>
        <div class="max-w-[359px] w-full h-[326px] p-1 ">
            <div class="h-[152px] p-1">
                <Image src="/imagenes/unless3.jpg" alt="Unless AI" width={359} height={326} class="w-full h-full object-cover rounded-2xl shadow-2xl" />
            </div> 
            <div class="h-full p-4 w-full flex flex-col items-center text-center text-sm" >
                <p class="text-left text-xs">
                    <strong class="font-semibold">Unless AI</strong> es una plataforma donde puedes <strong class="font-semibold">adquirir créditos</strong> para acceder a herramientas de <strong class="font-semibold">inteligencia artificial</strong> especializadas en <strong class="font-semibold">crear diseños multimedia</strong>, todo en un solo lugar. Simplificando tu proceso creativo con <strong class="font-semibold">tecnología avanzada.</strong>
                </p>
                <a href="/projects/unlessai">
                    <button class="bg-[#23714D] text-white px-4 my-4 py-2 rounded-3xl shadow-2xl">
                        Read More
                    </button>
                </a>
                
            </div>
        </div>
        <div class="max-w-[454px] w-full h-[326px] p-1">
            <Image src="/imagenes/unless4.jpg" alt="Unless AI" width={454} height={326} class="w-full h-full object-cover rounded-2xl shadow-2xl" />
        </div>
    </div>
</section>
        
<section class="flex flex-col justify-center items-center mb-12">
    <div class="max-w-[1279px] w-full h-[527px] p-1">
        <Image src="/imagenes/adpative1.jpg" alt="Adaptive" width={1279} height={527} class="w-full h-full object-cover rounded-2xl shadow-2xl" />
    </div>
    <div class="flex flex-row"> 
        <div class="max-w-[455px] w-full h-[326px] p-1">
            <Image src="/imagenes/adaptive2.jpg" alt="Adaptive" width={455} height={326} class="w-full h-full object-cover rounded-2xl shadow-2xl" />
        </div>
        <div class="max-w-[359px] w-full h-[326px]">
            <div class="h-[152px] p-1">
                <Image src="/imagenes/adaptive3.jpg" alt="Adaptive" width={359} height={326} class="w-full h-full object-cover rounded-2xl shadow-2xl" />
            </div> 
            <div class="h-full p-4 w-full flex flex-col items-center text-center text-sm" >
                <p class="text-left text-xs">
                    <strong class="font-semibold">Adaptive</strong> es una marca enfocada en la <strong class="font-semibold">creación de aplicaciones web a medidas.</strong> Ofrece soluciones flexibles y personalizadas para transformar ideas en <strong class="font-semibold">proyectos digitales eficaces.</strong>
                </p>
                <a href="/projects/adaptive">
                    <button class="bg-[#23714D] text-white px-4 my-4 py-2 rounded-3xl shadow-2xl">
                        Read More
                    </button>
                </a>
               
            </div>
        </div>
        <div class="max-w-[454px] w-full h-[326px] p-1">
            <Image src="/imagenes/adaptive4.jpg" alt="Adaptive" width={454} height={326} class="w-full h-full object-cover rounded-2xl shadow-2xl" />
        </div>
    </div>
</section>

<section class="flex flex-col justify-center items-center mb-12">
    <div class="max-w-[1279px] w-full h-[527px] p-1">
	<Image src="/imagenes/futuro1.jpg" alt="Futuropoly" width={1279} height={527} class="w-full h-full object-cover rounded-2xl shadow-2xl" />
    </div>
    <div class="flex flex-row"> 
        <div class="max-w-[455px] w-full h-[326px] p-1">
    <Image src="/imagenes/futuro2.jpg" alt="Futuropoly" width={455} height={326} class="w-full h-full object-cover rounded-2xl shadow-2xl" />
        </div>
        <div class="max-w-[359px] w-full h-[326px]  ">
            <div class="h-[152px] p-1">
                <Image src="/imagenes/futuro3.jpg" alt="Futuropoly" width={359} height={326} class="w-full h-full object-cover rounded-2xl shadow-2xl" />
            </div> 
            <div class="h-full p-4 w-full flex flex-col items-center text-center text-sm" >
                <p class="text-left text-xs">
                    <strong class="font-semibold">Futuropoly Security Land</strong> <strong class="font-semibold">es un juego de mesa</strong> diseñado para que los empresarios, en <strong class="font-semibold">ferias tecnológicas</strong>, sepan de manera divertida cómo los <strong class="font-semibold">avances tecnológicos</strong> impulsan sus negocios. 
                </p>
                <a href="/projects/futuropoli">
                    <button class="bg-[#23714D] text-white px-4 my-4 py-2 rounded-3xl shadow-2xl">
                        Read More
                    </button>
                </a>
                
            </div>
        </div>
        <div class="max-w-[454px] w-full h-[326px] p-1">
    <Image src="/imagenes/futuro4.jpg" alt="Futuropoly" width={454} height={326} class="w-full h-full object-cover rounded-2xl shadow-2xl" />      
        </div>
    </div>
</section>

<section class="flex flex-col justify-center items-center mb-12">
    <div class="max-w-[1279px] w-full h-[527px] p-1">
	<Image src="/imagenes/chrome1.jpg" alt="Chromeask" width={1279} height={527} class="w-full h-full object-cover rounded-2xl shadow-2xl" />
    </div>
    <div class="flex flex-row"> 
        <div class="max-w-[455px] w-full h-[326px] p-1">
    <Image src="/imagenes/chrome2.jpg" alt="Chromeask" width={455} height={326} class="w-full h-full object-cover rounded-2xl shadow-2xl" />
        </div>
        <div class="max-w-[359px] w-full h-[326px]  ">
            <div class="h-[152px] p-1">
    <Image src="/imagenes/chrome3.jpg" alt="Chromeask" width={359} height={326} class="w-full h-full object-cover rounded-2xl shadow-2xl" />
            </div> 
            <div class="h-full p-4 w-full flex flex-col items-center text-center text-sm" >
                <p class="text-left text-xs">
                    <strong class="font-semibold">ChromeAsk AI</strong> es una extensión de Google Chrome que utiliza <strong class="font-semibold">inteligencia artificial</strong> para responder automáticamente a tus <strong class="font-semibold">preguntas</strong> mientras ves un <strong class="font-semibold">video</strong> <strong class="font-semibold"> o navegas en una página web.</strong>                
                </p>
                <a href="/projects/chromeask">
                    <button class="bg-[#23714D] text-white px-4 my-4 py-2 rounded-3xl shadow-2xl">
                        Read More
                    </button>
                </a>
                
            </div>
        </div>
        <div class="max-w-[454px] w-full h-[326px] p-1">
    <Image src="/imagenes/chrome4.jpg" alt="Chromeask" width={454} height={326} class="w-full h-full object-cover rounded-2xl shadow-2xl" />
        </div>
    </div>
</section>

<section class="flex flex-col justify-center items-center mb-12">
    <div class="max-w-[1279px] w-full h-[527px] p-1">
	<Image src="/imagenes/in1.jpg" alt="Inview" width={1279} height={527} class="w-full h-full object-cover rounded-2xl shadow-2xl" />
    </div>
    <div class="flex flex-row"> 
        <div class="max-w-[455px] w-full h-[326px] p-1">
    <Image src="/imagenes/in2.jpg" alt="Inview" width={455} height={326} class="w-full h-full object-cover rounded-2xl shadow-2xl" />
        </div>
        <div class="max-w-[359px] w-full h-[326px]  ">
            <div class="h-[152px] p-1">
    <Image src="/imagenes/in3.jpg" alt="Inview" width={359} height={326} class="w-full h-full object-cover rounded-2xl shadow-2xl" />
            </div> 
            <div class="h-full p-4 w-full flex flex-col items-center text-center text-sm" >
                <p class="text-left text-xs">
                    <strong class="font-semibold">Inview</strong> es una marca enfocada en la <strong  class="font-semibold">venta y renta </strong> de inmuebles a través de una <strong class="font-semibold">plataforma web.</strong> Ofrece una experiencia <strong class="font-semibold">fácil y eficiente</strong>, permitiendo a los usuarios explorar una amplia gama de propiedades, tanto para comprar como para alquilar, con opciones <strong class="font-semibold">adaptadas a diferentes necesidades y presupuestos.</strong>                </p>
                
                    <a href="/projects/inview">
                        <button class="bg-[#23714D] text-white px-4 my-4 py-2 rounded-3xl shadow-2xl">
                            Read More
                        </button>
                    </a>
                    
            </div>
        </div>
        <div class="max-w-[454px] w-full h-[326px] p-1">
    <Image src="/imagenes/in4.jpg" alt="Inview" width={454} height={326} class="w-full h-full object-cover rounded-2xl shadow-2xl" />
        </div>
    </div>
</section>

<section class="flex flex-col justify-center items-center mb-12">
    <div class="max-w-[1279px] w-full h-[527px] p-1">
	<Image src="/imagenes/orion1.jpg" alt="Orion" width={1279} height={527} class="w-full h-full object-cover rounded-2xl shadow-2xl" />
    </div>
    <div class="flex flex-row"> 
            <div class="max-w-[455px] w-full h-[326px] p-1">
    <Image src="/imagenes/orion2.jpg" alt="Orion" width={455} height={326} class="w-full h-full object-cover rounded-2xl shadow-2xl" />        
        </div>
        <div class="max-w-[359px] w-full h-[326px]  ">
            <div class="h-[152px] p-1">
    <Image src="/imagenes/orion3.jpg" alt="Orion" width={359} height={326} class="w-full h-full object-cover rounded-2xl shadow-2xl" />
            </div> 
            <div class="h-full p-4 w-full flex flex-col items-center text-center text-sm" >
                <p class="text-left text-xs">
                    <strong class="font-semibold">Orion Inmobiliaria</strong> es una marca creada para un <strong   class="font-semibold">agente inmobiliario</strong> que busca destacarse de su competencia ofreciendo un <strong class="font-semibold">enfoque único y personalizado</strong> en el mercado de <strong class="font-semibold">bienes raíces.</strong>                 </p>
                
                    <a href="/projects/orion">
                        <button class="bg-[#23714D] text-white px-4 my-4 py-2 rounded-3xl shadow-2xl">
                            Read More
                        </button>
                    </a>
                    
            </div>
        </div>
        <div class="max-w-[454px] w-full h-[326px] p-1">
    <Image src="/imagenes/orion4.jpg" alt="Orion" width={454} height={326} class="w-full h-full object-cover rounded-2xl shadow-2xl" />
        </div>
    </div>
</section>

<section class="flex flex-col justify-center items-center mb-12">
    <div class="max-w-[1279px] w-full h-[527px] p-1">
	<Image src="/imagenes/flip1.jpg" alt="Flipbook" width={1279} height={527} class="w-full h-full object-cover rounded-2xl shadow-2xl" />
    </div>
    <div class="flex flex-row"> 
        <div class="max-w-[455px] w-full h-[326px] p-1">
    <Image src="/imagenes/flip2.jpg" alt="Flipbook" width={455} height={326} class="w-full h-full object-cover rounded-2xl shadow-2xl" />
        </div>
        <div class="max-w-[359px] w-full h-[326px]  ">
            <div class="h-[152px] p-1">
    <Image src="/imagenes/flip3.jpg" alt="Flipbook" width={359} height={326} class="w-full h-full object-cover rounded-2xl shadow-2xl" />
            </div> 
            <div class="h-full p-4 w-full flex flex-col items-center text-center text-sm" >
                <p class="text-left text-xs">
                    <strong class="font-semibold">Flipbook</strong> para el <strong class="font-semibold">Cotopaxi Bike Park</strong> ofrece una forma <strong class="font-semibold">única y tangible</strong> de preservar las <strong class="font-semibold">experiencias</strong> de los ciclistas que realizan <strong class="font-semibold">saltos y acrobacias en el parque.</strong>             </p>
                
                    <a href="/projects/flipbook">
                        <button class="bg-[#23714D] text-white px-4 my-4 py-2 rounded-3xl shadow-2xl">
                            Read More
                        </button>
                    </a>
                    
            </div>
        </div>
        <div class="max-w-[454px] w-full h-[326px] p-1">
    <Image src="/imagenes/flip4.jpg" alt="Flipbook" width={454} height={326} class="w-full h-full object-cover rounded-2xl shadow-2xl" />
        </div>
    </div>
</section>

<section class="flex flex-col justify-center items-center mb-12">
    <div class="max-w-[1279px] w-full h-[527px] p-1">
	<Image src="/imagenes/galactic1.jpg" alt="Proyecto8" width={1279} height={527} class="w-full h-full object-cover rounded-2xl shadow-2xl" />
    </div>
    <div class="flex flex-row"> 
        <div class="max-w-[455px] w-full h-[326px] p-1">
            <Image src="/imagenes/galactic2.jpg" alt="Proyecto8" width={1279} height={527} class="w-full h-full object-cover rounded-2xl shadow-2xl" />

        </div>
        <div class="max-w-[359px] w-full h-[326px]  ">
            <div class="h-[152px] p-1">
                <Image src="/imagenes/galactic3.jpg" alt="Proyecto8" width={1279} height={527} class="w-full h-full object-cover rounded-2xl shadow-2xl" />
            </div> 
            <div class="h-full p-4 w-full flex flex-col items-center text-center text-sm" >
                <p class="text-left text-xs">
                   <strong class="font-semibold">Galactic Crunch</strong> es un empaque inspirado en la grandeza del <strong class="font-semibold">Real Madrid</strong>, con colores emblemáticos, gráficos galácticos y frases llamativas. Este proyecto combina <strong class="font-semibold">branding y diseño</strong> para <strong class="font-semibold">conectar</strong>  con los <strong class="font-semibold">fanáticos del club.</strong> </p>
                
                    <a href="/projects/galacticcrunch">
                        <button class="bg-[#23714D] text-white px-4 my-4 py-2 rounded-3xl shadow-2xl">
                            Read More
                        </button>
                    </a>
                  
            </div>
        </div>
        <div class="max-w-[454px] w-full h-[326px] p-1">
            <Image src="/imagenes/galactic4.jpg" alt="Proyecto8" width={454} height={326} class="w-full h-full object-cover rounded-2xl shadow-2xl" />
        </div>
    </div>
</section>
