---
import { Image } from "astro:assets";
---

<header class="bg-[#1C1C1C] fixed top-0 left-0 right-0 z-50">
  <nav class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-16">
      {/* Logo or Brand Name */}
      <div class="flex-shrink-0">
        <Image src="/imagenes/eleese.jpeg" alt="ELESE" width={60} height={20} class="h-auto" />
      </div>
      
      {/* Desktop Navigation */}
      <div class="hidden md:block">
        <div class="ml-10 flex items-center space-x-4">
          <a href="/" class="text-white hover:text-[#23714D] px-3 py-2 rounded-md text-sm font-medium">
            Home
          </a>
          <a href="/project" class="text-white hover:text-[#23714D] px-3 py-2 rounded-md text-sm font-medium">
            Project
          </a>
          <a href="/aboutme" class="text-white hover:text-[#23714D] px-3 py-2 rounded-md text-sm font-medium">
            About Me
          </a>
          <a href="/contact" class="text-white hover:text-[#23714D] px-3 py-2 rounded-md text-sm font-medium">
            Contact
          </a>
        </div>
      </div>

      {/* Mobile Menu Button */}
      <div class="md:hidden">
        <button class="text-gray-600 hover:text-gray-900 focus:outline-none">
        </button>
      </div>
    </div>
  </nav>
</header>
